## Pathogenwatch N. Gonno metadata
    - This notebook processes N. Gonno metadata
    - Flags uncurated and repeat isolates
### Takes inputs:
     -  Directory paths
### Output:
    - Concatenated processed Gonno metadata .csv files

### Import modules

In [1]:
import pandas as pd
import os
import glob
import numpy as np
pd.options.mode.chained_assignment = None
import warnings
warnings.filterwarnings('ignore')

### Metadata PATH

In [2]:
collections_path=""

### Subdirectories list

In [3]:
# List of subdirectories
subdirectories = ['0c5bhggpwb3f-thomas-et-al-2019', 'j4mxcy44euca-kwong-et-al-2018',
'0xy89kwboxbr-ryan-et-al-2018', 'nkhbgsps8ws4-osnes-et-al-2020',
'40kdi4tj0mw5-schmerer-et-al-2020', 'qfqviofgd6i8-demczuk-et-al-2016',
'481d4jk73jaz-demczuk-et-al-2015', 'rll02476p0cm-yahara-et-al-2018',
'4hm16wpbztv9-didelot-et-al-2016', 'rvwzxxo2uxw0-lee-et-al-2018',
'600cf60ljmjd-cehovin-et-al-2018', 'sjihkc9vrqkd-lan-et-al-2020',
'6s7iszmj1edv-mortimer-et-al-2020', 'u99d9e02hkns-wind-et-al-2017',
'8o3g3eusd2uw-kwong-et-al-2016', 'ug6zrt1wmzd4-buckley-et-al-2018',
'9stz0m94hin7-sanchez-buso-et-al-2019', 'uzh2c7kc076l-grad-et-al-2016',
'b9xxapwkh5tz-alfsnes-et-al-2020', 'v53qedj4o70c-grad-et-al-2014',
'dz188zpiggd1-ezewudo-et-al-2015', 'vxegrl583s4p-de-silva-et-al-2016',
'eurogasp2013', 'xazjz3gx75on-golparian-et-al-2020',
'eurogasp2018', 'z9p4pvkr6jze-williamson-et-al-2019',
'h3cz3rwyaglw-fifer-et-al-2018', 'zrl97zpngnaj-chisholm-et-al-2016',
'iapx9h18cgyo-grasp-town-et-al-2020']

In [4]:
# Define patterns to match files
file_patterns = [
    '*metadata.csv',
    '*typing.csv',
    '*amr-profile.csv',
    '*amr-genes.csv',
    '*amr-snps.csv'
]

In [5]:
# Dictionary to store the DataFrames
dataframes = {}

In [6]:
# Process each subdirectory
for subdir in subdirectories:
    """
    read the CSV files within each subdirectory, merge them based on a common column ('NAME')
    store the resulting merged DataFrame in a dictionary
    """
    subdir_path = os.path.join(collections_path, subdir)
    merged_df = None

    # Find and merge the CSV files matching the patterns
    for pattern in file_patterns:
        files = glob.glob(os.path.join(subdir_path, pattern))
        for file_path in sorted(files):
            df = pd.read_csv(file_path)

            if merged_df is None:
                merged_df = df
            else:
                merged_df = pd.merge(merged_df, df, on='NAME', how='outer')

    # Store the merged DataFrame in the dictionary with a key as the subdirectory name
    dataframes[subdir] = merged_df

# Inspect each dataframe individually to verify the metadata


# EuroGASP 2018

In [7]:
eurogasp2018_df = dataframes['eurogasp2018']

#### Add missing information in project accession, collection label, and literature link columns

In [9]:
eurogasp2018_df['PROJECT ACCESSION'] = 'PRJEB34068'
eurogasp2018_df['COLLECTION LABEL'] = 'EuroGASP2018'
eurogasp2018_df['LITERATURELINK'] = '35659907'

#### Country information for EuroGASP 2018 is missing
#### This information was added from metadata downloaded from PubMLST

In [10]:
eurogasp2018_df.drop('COUNTRY', axis=1, inplace=True)

In [11]:
## Read eurogasp2018 PubMLST metadata to file
GASP_2018_EURO = pd.read_csv('/Users/lshmg29/Desktop/salmonella_metadata/GASP_2018_EURO.csv', sep=',',
                             names=['isolate', 'COUNTRY'], header=0)
# merge the dataframes
eurogasp2018_df = pd.merge(eurogasp2018_df, GASP_2018_EURO,
        left_on='NAME', right_on='isolate', how='outer')
eurogasp2018_df.drop('isolate', axis=1, inplace=True)

In [85]:
len(eurogasp2018_df)

2375


# Eurogasp2013

In [12]:
eurogasp2013_df = dataframes['eurogasp2013']

#### Add missing information in project accession, collection label, and literature link columns

In [13]:
eurogasp2013_df['PROJECT ACCESSION'] = 'PRJEB9227'
eurogasp2013_df['COLLECTION LABEL'] = 'EuroGASP2013'
eurogasp2013_df['LITERATURELINK'] = '29776807'

#### Sample accession and Country column is missing from the metadata
#### This information was added from metadata downloaded from PubMLST

In [14]:
# drop columns with NA
eurogasp2013_df.drop('COUNTRY', axis=1, inplace=True)
eurogasp2013_df.drop('SAMPLE ACCESSION', axis=1, inplace=True)

In [15]:
# Read eurogasp2018 PubMLST metadata to file
GASP_2013_EURO = pd.read_csv('/Users/lshmg29/Desktop/salmonella_metadata/GASP_2013_EURO.csv', sep=',',
                            names=['isolate', 'COUNTRY','SAMPLE ACCESSION'])

## merge the dataframe
eurogasp2013_df = pd.merge(eurogasp2013_df, GASP_2013_EURO,
        left_on='NAME', right_on='isolate', how='inner')
eurogasp2013_df.drop('isolate', axis=1, inplace=True)

In [ ]:
len(eurogasp2013_df)


# Williamson et al. (2019)

In [17]:
williamson_2019_df = dataframes['z9p4pvkr6jze-williamson-et-al-2019']

In [18]:
len(williamson_2019_df)

2179

# Town et al. (2020)

In [19]:
town_2020_df = dataframes['iapx9h18cgyo-grasp-town-et-al-2020']

In [20]:
len(town_2020_df)

1288

# De Silva et al. (2016)

In [21]:
desilva_2016_df = dataframes['vxegrl583s4p-de-silva-et-al-2016']

In [22]:
len(desilva_2016_df)

1783

# Mortimer et al. (2020)

In [23]:
mortimer_2020_df = dataframes['6s7iszmj1edv-mortimer-et-al-2020']

In [24]:
# add missing columns
mortimer_2020_df['LITERATURELINK'] = '32829411'

In [25]:
len(mortimer_2020_df)

891

# Alfsnes et al. (2020)

In [26]:
alfsnes_2020_df = dataframes['b9xxapwkh5tz-alfsnes-et-al-2020']

In [27]:
len(alfsnes_2020_df)

816

# Osnes et al. (2020)

In [28]:
osnes_2020_df = dataframes['nkhbgsps8ws4-osnes-et-al-2020']

In [29]:
len(osnes_2020_df)

133

#### add missing LITERATURELINK

In [30]:
osnes_2020_df['LITERATURELINK'] = '33200978'

# Schmerer et al. (2020)

In [31]:
schmerer_2020_df = dataframes['40kdi4tj0mw5-schmerer-et-al-2020']

In [32]:
len(schmerer_2020_df)

324

# Cehovin et al. (2018)

In [33]:
cehovin_2018_df = dataframes['600cf60ljmjd-cehovin-et-al-2018']

In [34]:
len(cehovin_2018_df)

112

# Grad et al. (2016)

In [35]:
grad_2016_df = dataframes['uzh2c7kc076l-grad-et-al-2016']

In [36]:
len(grad_2016_df)

1035

# Grad et al. (2014)

In [37]:
grad_2014_df = dataframes['v53qedj4o70c-grad-et-al-2014']

In [38]:
len(grad_2014_df)

216

# Ezewudo et al. (2015)

In [39]:
ezewudo_2015_df = dataframes['dz188zpiggd1-ezewudo-et-al-2015']

In [40]:
len(ezewudo_2015_df)

18

# Wind et al. (2017)

In [41]:
wind_2017_df = dataframes['u99d9e02hkns-wind-et-al-2017']

In [42]:
len(wind_2017_df)

23

# Thomas et al. (2019)

In [43]:
thomas_2019_df = dataframes['0c5bhggpwb3f-thomas-et-al-2019']

In [44]:
len(thomas_2019_df)

644

# Lan et al. (2020)

In [45]:
lan_2020_df = dataframes['sjihkc9vrqkd-lan-et-al-2020']

# Golparian et al. (2020)

In [46]:
golparian_2020_df = dataframes['xazjz3gx75on-golparian-et-al-2020']

In [47]:
len(golparian_2020_df)

192

# Chisholm et al. (2016)

In [48]:
chisholm_2016_df = dataframes['zrl97zpngnaj-chisholm-et-al-2016']

In [49]:
len(chisholm_2016_df)

14

# Ryan et al. (2018)

In [50]:
ryan_2018_df = dataframes['0xy89kwboxbr-ryan-et-al-2018']

In [51]:
len(ryan_2018_df)

42

# Kwong et al. (2016)

In [52]:
kwong_2016_df = dataframes['8o3g3eusd2uw-kwong-et-al-2016']

In [53]:
len(kwong_2016_df)

48

# Kwong et al. (2018)

In [54]:
kwong_2018_df = dataframes['j4mxcy44euca-kwong-et-al-2018']

In [55]:
len(kwong_2018_df)

75

# Buckley et al. (2018)

In [56]:
buckley_2018_df = dataframes['ug6zrt1wmzd4-buckley-et-al-2018']

In [57]:
len(buckley_2018_df)

92

# Fifer et al. (2018)

In [58]:
fifer_2018_df = dataframes['h3cz3rwyaglw-fifer-et-al-2018']

In [59]:
len(fifer_2018_df)

100

# Didelot et al. (2016)

In [60]:
didelot_2016_df = dataframes['4hm16wpbztv9-didelot-et-al-2016']

#### The metadata has rows that are duplicated.
#### The isolates were sampled twice

In [61]:
## drop duplicates 
didelot_2016_df= didelot_2016_df.drop_duplicates(['NAME','EXPERIMENT ACCESSION','RUN ACCESSION'])

In [62]:
didelot_2016_df[didelot_2016_df['NAME'].duplicated(keep=False)]

,NAME,DATE,COUNTRY,REPORTING COUNTRY,CITY/REGION,COLLECTION DATE,HOST,HOST STATUS,LINEAGE,HOST SEX,...,gyrA_S91F,gyrA_D95G,parC_S87R,penA_ins346D,penA_P551S,porB1b_A121D,porB1b_G120K,ponA1_L421P,folP_R228S,rpsJ_V57M
7,SAMEA656150,1st January 1995,United Kingdom,NaN,Sheffield,1995-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
23,SAMEA656150,1st December 1995,United Kingdom,NaN,Sheffield,1995-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
74,SAMEA656206,1st January 1996,United Kingdom,NaN,Sheffield,1996-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
90,SAMEA656206,18th June 1996,United Kingdom,NaN,Sheffield,1996-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
218,SAMEA656208,5th November 1996,United Kingdom,NaN,Sheffield,1996-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1
234,SAMEA656208,1st January 1996,United Kingdom,NaN,Sheffield,1996-01-01,Human,disease,NaN,NaN,...,0,0,0,1,0,0,0,0,0,1


#### Experiment and run accessions are inconsistent with the publication
#### The metadata for this collection is annotated with uncurated_discr (uncurated_discrepancy)

In [63]:
didelot_2016_df['CURATION'] = 'uncurated_discr'

## fill na in the CURATION column with curated 
didelot_2016_df['CURATION'].fillna('Curated', inplace=True)

In [64]:
len(didelot_2016_df)

194

# Demczuk et al. (2016)

In [65]:
demczuk_2016_df = dataframes['qfqviofgd6i8-demczuk-et-al-2016']

In [66]:
len(demczuk_2016_df)

200

# Demczuk et al. (2015)

In [67]:
demczuk_2015_df = dataframes['481d4jk73jaz-demczuk-et-al-2015']

In [68]:
len(demczuk_2015_df)

168

# Sánchez-Busó et al. (2019)

In [69]:
sanchez_buso_2019_df = dataframes['9stz0m94hin7-sanchez-buso-et-al-2019']

In [70]:
len(sanchez_buso_2019_df)

395

# Yahara et al. (2018)

In [71]:
yahara_2018_df = dataframes['rll02476p0cm-yahara-et-al-2018']

# Lee et al. (2018)

In [72]:
lee_2018_df = dataframes['rvwzxxo2uxw0-lee-et-al-2018']

In [73]:
len(lee_2018_df)

376

# Check for duplicated isolates based on the NAME column

### Compare and print duplicates

In [74]:
#create a dicitonary of the dataframes

dfs = {
    'lee_2018': lee_2018_df, 
    'yahara_2018': yahara_2018_df, 
    'sanchez_buso_2019': sanchez_buso_2019_df, 
    'demczuk_2015': demczuk_2015_df,
    'demczuk_2016': demczuk_2016_df,
    'didelot_2016': didelot_2016_df,
    'fifer_2018': fifer_2018_df,
    'buckley_2018': buckley_2018_df,
    'kwong_2018': kwong_2018_df,
    'kwong_2016': kwong_2016_df,
    'ryan_2018': ryan_2018_df,
    'chisholm_2016': chisholm_2016_df,
    'golparian_2020': golparian_2020_df,
    'lan_2020': lan_2020_df,
    'thomas_2019': thomas_2019_df,
    'wind_2017': wind_2017_df,
    'ezewudo_2015': ezewudo_2015_df,
    'grad_2014': grad_2014_df,
    'grad_2016': grad_2016_df,
    'cehovin_2018': cehovin_2018_df,
    'schmerer_2020': schmerer_2020_df,
    'osnes_2020': osnes_2020_df,
    'alfsnes_2020': alfsnes_2020_df,
    'mortimer_2020': mortimer_2020_df,
    'desilva_2016': desilva_2016_df,
    'town_2020': town_2020_df,
    'williamson_2019': williamson_2019_df,
    'eurogasp2013': eurogasp2013_df,
    'eurogasp2018': eurogasp2018_df
}

In [75]:
# compare and print duplicates
def compare_and_print_duplicates(dfs):
    """
    takes a dictionary of DataFrames (dfs) as input, where each DataFrame is associated with a specific key
    iterate through all pairs of DataFrames in the provided dictionary 
    For each pair of DataFrames, it identifies duplicate rows based on the 'NAME' column
    If there are duplicates found (i.e., the duplicated DataFrame is not empty), the function prints the list of duplicate values in the 'NAME' column
    """
    keys = list(dfs.keys())
    for i in range(len(keys)):
        for j in range(i+1, len(keys)):
            key1, key2 = keys[i], keys[j]
            df1, df2 = dfs[key1], dfs[key2]
            
            # Find duplicates in 'NAME' column
            duplicated = pd.merge(df1[['NAME']], df2[['NAME']], on='NAME', how='inner')
            
            # Check if there are any duplicates and print them
            if not duplicated.empty:
                dup_list = duplicated['NAME'].tolist()
                print(f"Duplicates between {key1} and {key2}:")
                print(duplicated['NAME'].tolist())

In [ ]:
#compare_and_print_duplicates(dfs)

## Flag duplicate/repeat isolates in the dataframe

In [77]:
def compare_mark_duplicates_and_concatenate(dfs):
    """
    takes a dictionary of DataFrames (dfs) as input, where each DataFrame is associated with a specific key
    iterates through all pairs of DataFrames in the provided dictionary .
    For each pair of DataFrames, it identifies duplicate rows based on the 'NAME' column. 
    It uses the pd.merge function to find common values in the 'NAME' column and stores the result in the duplicated DataFrame
    If there are duplicates found (i.e., the duplicated DataFrame is not empty), the function marks the duplicates in the original DataFrames by updating the 'REPEAT_ISOLATES' column.
    It creates a unique duplicate flag (duplicate_flag) for each pair of DataFrames
    It returns:
    * concatenated DataFrame that includes the marked duplicates.
    
    """
    keys = list(dfs.keys())
    for i in range(len(keys)):
        for j in range(i+1, len(keys)):
            key1, key2 = keys[i], keys[j]
            df1, df2 = dfs[key1], dfs[key2]

            # Find duplicates in 'NAME' column
            duplicated = pd.merge(df1[['NAME']], df2[['NAME']], on='NAME', how='inner')
            
            # Mark duplicates in the original dataframes
            if not duplicated.empty:
                duplicate_flag = f'Dupl_{key1}-{key2}'
                for name in duplicated['NAME']:
                    # Update 'repeat_isolates' in both dataframes
                    df1.loc[df1['NAME'] == name, 'REPEAT_ISOLATES'] = duplicate_flag
                    df2.loc[df2['NAME'] == name, 'REPEAT_ISOLATES'] = duplicate_flag

    # Concatenate all dataframes into one
    pw_concatenated_df = pd.concat(dfs.values(), ignore_index=True)

    return pw_concatenated_df

In [78]:
# concatenate all Gonno data
pw_concatenated_final_df = compare_mark_duplicates_and_concatenate(dfs)

In [79]:
# modify names REPEAT_ISOLATES rows
pw_concatenated_final_df['REPEAT_ISOLATES'] = pw_concatenated_final_df['REPEAT_ISOLATES'].str.replace(r'_(\d{4})', r'\1', regex=True)

# Replacing NaN in the REPEAT_ISOLATES column with unique
pw_concatenated_final_df['REPEAT_ISOLATES'].replace(np.nan, 'Unique', inplace=True)

### Convert float in these columns with integres

In [80]:
# List of columns to convert to Int64
columns_to_convert = [
    'mtrR_promoter_mosaic_2', 'blaTEM', 'tetM', 'mtrR_promoter_a-57del',
    'mtrR_G45D', 'rplD_G70D', 'mtrC_disrupted', '23S_rDNA_c2597t',
    'penA_G545S', 'penA_V316T', 'penA_I312M', 'gyrA_S91F', 'gyrA_D95G',
    'gyrA_D95A', 'gyrA_D95N', 'parC_S87R', 'parC_D86N', 'parC_S87N',
    'parC_S87I', 'parC_E91K', 'mtrR_A39T', 'mtrR_disrupted', 'penA_A501T',
    'penA_G542S', 'penA_A501V', 'penA_P551S', 'porB1b_A121D', 'porB1b_G120K',
    'porB1b_A121N', 'ponA1_L421P', 'folP_R228S', 'rpsJ_V57M',
    'mtrR_promoter_mosaic_1', '23S_rDNA_a2045g', 'penA_T483S', 'penA_A311V',
    'parC_S88P', 'mtrR_promoter_g-131a', 'mtrR_promoter_a-56c', 'mtrD_mosaic_1',
    'penA_A501P', 'parE_G410V', '16S_rDNA_c1184t', 'tetM_disrupted', 'ermC',
    'mtrD_mosaic_2', 'rpsE_T24P', 'mtrD_mosaic_3', 'mtrR_promoter_mosaic_3',
    'rplV_----90ARAK', 'rplV_------83KGPSLK', 'rpoB_R201H', 'rpoD_D92-',
    'rpoD_D93-', 'rpoD_D94-', 'rpoD_A95-', 'rpoD_E98K', 'blaTEM_disrupted',
    'rpoB_P157L'
]

# Loop through each column and convert it
for col in columns_to_convert:
    pw_concatenated_final_df[col] = pw_concatenated_final_df[col].replace('n', 0).fillna(0).astype('Int64')

### Reshuffle columns and drop the unwanted columns

In [81]:
columns = list(pw_concatenated_final_df.columns)
columns_to_move = ['COLLECTION LABEL', 'CURATION', 'REPEAT_ISOLATES']

# Remove these columns from the original list
for column in columns_to_move:
    columns.remove(column)

# Append them back at the end
columns.extend(columns_to_move)

# Reorder the DataFrame
pw_concatenated_final_df = pw_concatenated_final_df[columns]


## drop columns
pw_concatenated_final_df.drop(['REPORTING COUNTRY', 'PMID 2', 'BIORXIV', 'COLLECTION'], axis=1, inplace=True)

In [82]:
# write to csv
pw_concatenated_final_df.to_csv("/Users/lshmg29/Desktop/pathogenwatch_GONO_collections/pw_Gonno_collections.csv", sep=',', index=False)

In [83]:
len(pw_concatenated_final_df['NAME'].unique())

14887

In [84]:
len(pw_concatenated_final_df)

15259